body {
  margin-left: 50px;
}
.cabecalho {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
}

.cabecalho-logo {
  width: 60px;
}

.cabecalho-nome {
  color: purple;
  font-size: 40px;
  margin-left: 20px;
  display: flex;
  align-items: baseline;
}

.texto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.texto-principal {
  width: 600px;
}

.texto-titulo {
  color: #833c80;
}

.botao {
  background-color: #833c80;
  border-radius: 5px;
  width: 130px;
  height: 20px;
  border: none;
}

.texto-botao {
  text-decoration: none;
  color: aliceblue;
  background-color: #833c80;
}

.rodape {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rodape-imagem {
  width: 100px;
  height: 100px;
}

.rodape-lista {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.rodape-item {
  width: 100px;
  text-decoration: none;
  display: flex;
}
